body {
  background-color: whitesmoke;
  font-family: 'Cantata One', serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.some-class {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.header {
  background-color: rgb(214, 195, 107);
}

.lead {
  margin-top: 40px;
font-family: 'Raleway', sans-serif;
}

.date {
font-size: 40px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: rgb(128, 56, 56);
  color: white;
}

.future {
  background-color: rgb(113, 133, 118);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#currentDay {
  margin-top: 40px;
}

.btn-success {
  background-color: rgb(31, 150, 76);
}

.btn-warning {
  background-color: rgb(190, 138, 93);
}